@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.offcanvas {
  @apply fixed h-full w-full top-0 left-0 z-50 bg-background bg-opacity-90 p-20 flex flex-col justify-start items-end gap-8 text-3xl;
}
.offcanvas nav ul {
  @apply flex-col gap-5;
}
